<app-title-page [title]="'Besoin de faire une belle plus-value?'"></app-title-page>

<app-paragraph-img-left [nomImg]="'card-faux-billets-1.png'"
                        [para]="'Il existe également de nombreux sites pour se faire de l\'argent facile... Vente de carte de crédit volées ou clonées, avec plus ou moins de crédit disponible dessus... Il y a même des avis de (soit disant) consommateurs!!!!'"
                        [legend]="'Des clients toujours satisfaits!!'"
></app-paragraph-img-left>


<app-paragraph-img-right [nomImg]="'card-faux-billets-2.png'"
                         [para]="'Les produits sont vendu avec un tutoriel pour ne pas se faire prendre...'"
                         [legend]="'25 € pour une carte avec un crédit aléatoire?'"
></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'card-faux-billets-3.png'"
                        [para]="'Le site propose aussi l\'achat de faux billets. Avec une plus value de 10 à 20€ par billet acheté!!! Plus rapide que la bourse!!!!'"
                        [legend]="'Pendant le Coronavirus, même le Dark-Web connait des problèmes de livraison... Et de fautes d\'orthographe lol...'"
></app-paragraph-img-left>


<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-drogue'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-fausse-identite'"></app-nav-buttons>
