<app-title-page [title]="'Les hidden Wikis et les moteurs de recherche'"></app-title-page>

<app-paragraph-img-left [nomImg]="'the-hidden-wiki.jpg'"
                        [legend]="''"
                        [para]="'Il éxiste peu de moteur de recherche pour trouver les pages du Dark-Web, et souvent sont très incomplets ou instables , donc comment savoir où aller? Il existe pour cela des bibliothèques de liens, basées sur le design de WikiPédia, d\'où leur nom de Hidden Wikis!'"

></app-paragraph-img-left>

<app-paragraph-img-right [nomImg]="'Hidden Wiki - 1.png'"
                         [legend]="'Un hidden Wiki, avec la liste des liens en onion'"
                         [para]="'C\'est après avoir trouvé cette bibliothèque de lien que l\'on s\'approche du Dark-Web. Sur ces pages, listées par catégories, nous trouvons pléthore de liens en .onion, qui est l\'extension de premier niveau par défaut du réseau Tor (contrairement aux .com, .fr ect du web de surface). C\'est à ce niveau que l\'on commence à se rendre compte des activités potentiellement illégales qui se déroulent ici bas...'"

></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'Hidden Wiki - 2.png'"
                        [legend]="'Exemples de catégories fréquentes sur les hidden Wikis'"
                        [para]="'Beaucoup de liens sont morts. Et il faut sans cesse rechercher des hidden Wikis plus ou moins à jour afin de trouver des sites du Dark-Web encore actifs... Dans la prochaine partie, je vous en présenterai quelques uns, mais avant (oui je sais vous êtes pressés :-) ) je vais revenir sur les moteurs de recherche pour les sites en .onion...'"

></app-paragraph-img-left>


<app-paragraph-img-right [nomImg]="'Ahmia — Search Tor Hidden Services.png'"
                         [legend]="'Un moteur de recherche de liens onion collaboratif'"
                         [para]="'Au cours de mes recherches, je suis tombé sur ce moteur de recherche, accessible du Web de surface, qui référence des liens onion. Il s\'agit d\'un site collaboratif ou quiconque peut rajouter les liens onion qu\'il trouve ou dont il est propriétaire.'"
></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'Search results for bitcoin — Ahmia.png'"
                        [legend]="'Exemple de résultat sur Ahmia'"
                        [para]="'Ahmia se veut donc collaboratif, et demande à ne pas référencer, ou à signaler, tout site du Dark-Web proposant des images pédo-pornographiques. Mais c\'est à peu près sa seule restriction...'"

></app-paragraph-img-left>

<app-paragraph-img-right [nomImg]="'GrayMatter.png'"
                         [legend]="'Un moteur de recherche réservé à la cyber-sécurité'"
                         [para]="'J\'ai également découvert ce moteur de recherche atypique. Publié et commercialisé par l\'entreprise Aleph-Networks, il se décrit comme le plus fourni en liens du Dark-Web (et Deep-Web), mais n\'est pas accessible au grand public! Il est en effet destiné aux entreprises afin de les protéger d\'éventuelles fuites de données.'"
></app-paragraph-img-right>


<app-sources-links [titleSection]="'Pour aller plus loin : '"
                   [sources]="sources"
></app-sources-links>

<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-1-se-connecter'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web'"></app-nav-buttons>
