<app-title-page [title]="'Besoin de changer de vie?'"></app-title-page>

<app-paragraph-img-left [legend]="'God save the Queen...'"
                        [nomImg]="'changer-vie-1.png'"
                        [para]="'L\'industrie des faux papiers est aussi très dévelopée sur le Dark-Web! Vous pouvez trouver des offres de toute sorte concernant la fourniture de faux papiers, et même d\'ouverture de compte en banque dans le pays cible... Comme ici au Royaume-Uni...'"
></app-paragraph-img-left>


<app-paragraph-img-right [legend]="'Moins de 21 ans aux Etats-Unis? Pas de soucis pour acheter de l\'alcool avec ce service!!'"
                         [nomImg]="'changer-vie-2.png'"
                         [para]="'Un site pour obtenir des faux permis de conduire des Etats-Unis! Garantis avec les hologrammes et plusieurs systèmes de sécurité pour faire croire à un vrai! On peut même choisir l\'état du permis!'"
></app-paragraph-img-right>

<app-paragraph-img-left [legend]="'Pour la modique somme de 4000 USD, de la fourniture de données personnelles et biométriques, devenez officiellement citoyen de l\'Oncle Sam!! Cool n\'est-ce pas??'"
                        [nomImg]="'changer-vie-3.png'"
                        [para]="'Et tant qu\'à faire, il existe même des packs complets pour devenir citoyen des Etats-Unis!!!'"
></app-paragraph-img-left>


<app-nav-buttons
  [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-racisme'"
  [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-carte-bancaire'"></app-nav-buttons>
