<app-title-page [title]="'Facebook??? Ici???'"></app-title-page>

<app-img-center [photoName]="'facebook.png'" [legend]="'Mais mais mais?? Que fait le site le moins anonyme du Web sur le réseau le plus anonyme??'"></app-img-center>

<app-paragraph [para]="'Et oui vous ne rêvez pas. Facebook a bel et bien sa propre adresse en .onion depuis 2014. Le réseau social, qui a multiplié les polémiques quant à la protection de la vie privée de ses utilisateurs a-t-il sa place ici?? Et bien oui! Malgré les polémiques qui ont emergés de la mise en place de cette version, ce n\'est pas une mauvaise chose en soit. Je vous laisse pour vous en rendre compte consulter l\'article de Technopolis (lien en source)...'"
></app-paragraph>

<app-sources-links [sources]="sources"></app-sources-links>

<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/sites-plus-cools'"
                 [next]="'/chapitre-3-le-dark-web/partie4-le-bitcoin'">
</app-nav-buttons>
