<app-title-page [title]="'En conclusion'"></app-title-page>

<app-paragraph-img-right [nomImg]="'tor-et-vpn.png'"
                         [legend]="'Associer un vpn avec Tor = le maximum de sécurité sur le Web'"
                         [para]="'En conclusion, la meilleure façon de ne pas laisser de trace de nos activités sur le Web est l\'utilisation de Tor derrière un VPN. Et même de télécharger Tor derrière ce VPN car ses téléchargements sont surveillés! En effet, l\'utilisation de Tor seul ne sera pas totalement transparente car votre FAI pourra toujours savoir que vous utilisez Tor... Alors que derrière un VPN, il saura que vous êtes connecté au serveur du VPN mais en aucun car il ne saura ce que vous faites derrière cette protection.'"
></app-paragraph-img-right>


<app-nav-buttons [previous]="'/chapitre-2-vers-une-navigation-anonyme/partie-2-tor'" [next]="'/chapitre-3-le-dark-web'"></app-nav-buttons>
