<app-title-page [title]="'Une petite soirée entre amis?'"></app-title-page>

<app-paragraph-img-left [nomImg]="'cannabis.png'"
                        [para]="'Il existe pléthore de sites vendant de la drogue sur le Dark-Web... Certains généralistes, d\'autres plus spécialisés, comme celui-ci dans la vente de Cannabis...'"
                        [legend]="'Site anglais spécialisé dans la vente de cannabis...'"
></app-paragraph-img-left>


<app-paragraph-img-right [nomImg]="'Psychedelics.png'"
                         [para]="'Sur celui-ci, nous pouvons trouver plusieurs sortes de drogues, ici par éxemple une selection de drogues psychédéliques... Hallucinant......'"
                         [legend]="'LSD, Mescaline, tout pour halluciner...'"
></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'TomJerryCocain.png'"
                        [para]="'Encore plus fort, encore plus original... Certains revendeurs crèèent leur marque pour leurs produits... Ici en associant le célèbre dessin-animé Tom & Jerry à de la cocaïne... Y-a-t-il une moralité? Ou doit-on prendre au second degré? Je vous en laisse juge...'"
                        [legend]="'Prêts à sni... heu mater des Tom & Jerry??'"
></app-paragraph-img-left>

<app-paragraph-img-right [nomImg]="'heroin.png'"
                         [para]="'Certains sites proposent même de l\'héroïne, une des pires drogues, aussi addictive que dangereuse...'"
                         [legend]="'Ils vendent également les seringues...'"
></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'viagra.png'"
                        [para]="'Et pour finir une liste loin d\'être exhaustive sur le genre de produits que l\'on peut trouver, il y a ici des médicaments en vente libre qui sont habituellement sous ordonnance...'"
                        [legend]="'Un p\'tit coup de mou????'"
></app-paragraph-img-left>

<app-paragraph-img-right [nomImg]="'prescriptions.png'"
                         [para]="'Autre site spécialisé dans la vente de médicaments sous ordonnance... La pharmacie du BitCoin....'"
                         [legend]="'Pour les coups de mou ou pour calmer les ardeurs!'"
></app-paragraph-img-right>



<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-armes'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-carte-bancaire'"></app-nav-buttons>
