<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" routerLink="/"><img [src]="'../resources/images/darkWebMenu.png'" alt="DarkWebMenu"
                                                class="mr-4 img-thumbnail" style="max-width: 100px">Découverte du
      Dark-Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="plan" aria-expanded="true">Plan de
            l'exposé <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="plan">
            <a class="dropdown-item" routerLink="/">Accueil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/intro">Introduction</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/chapitre-1-les-differents-types-de-web">Chapitre 1 : Les différentes
              facettes du Web</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/chapitre-2-vers-une-navigation-anonyme">Chapitre 2 : Vers une
              navigation anonyme</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web">Chapitre 3 : Le Dark-Web</a>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web/partie-1-se-connecter">Chapitre 3 - 1 : Se connecter</a>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web/partie-2-les-hidden-wikis">Chapitre 3 - 2 : Les hiddens Wiki et moteurs de recherche</a>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web">Chapitre 3 - 3 : Exemples de sites du Dark-Web</a>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web/partie4-le-bitcoin">Chapitre 3 - 4 : Le BitCoin</a>
            <a class="dropdown-item" routerLink="/chapitre-3-le-dark-web/partie5-developpeur-dark-web">Chapitre 3 - 5 : Devenir Développeur Dark-Web</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/chapitre-4-conclusion">Conclusion</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sources">Sources</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
