<app-title-page [title]="'Louer des services spéciaux??'"></app-title-page>

<app-paragraph-img-left [legend]="'Le hacker à louer se présente bien...'"
                        [nomImg]="'hacker1.png'"
                        [para]="'Un autre service proposé sur le Dark-Web est la location de Hacker... Location de leurs services plutôt lol. Il existe de nombreuses offres de ce genre pour effectuer des hacks plus ou moins techniques et légaux...'">
</app-paragraph-img-left>


<app-paragraph-img-right [legend]="'Tarifs en fonction du temps passé.'"
                         [nomImg]="'hacker2.png'"
                         [para]="'Le tarif sera différent en fonction de la complexité de la tâche à accomplir et du temps dont il aura besoin pour parvenir au résultat que vous ésperez...'">
</app-paragraph-img-right>


<app-paragraph-img-left [legend]="'Un site avec plusieurs profils de hackers suivant les services recherchés...'"
                        [nomImg]="'hacker3.png'"
                        [para]="'Ce site propose des dizaines de hackers dont on peut louer les services... Lequel allez vous choisir pour hacker votre ex ou votre patron??'">
</app-paragraph-img-left>


<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-pornographiques'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/sites-plus-cools'"></app-nav-buttons>

