<app-title-page [title]="'Quelques exemples supplémentaires'"></app-title-page>

<app-paragraph-img-left [legend]="'La parole de Dieu aussi présente ici en version non-censurée...'"
                        [nomImg]="'bible.png'"
                        [para]="'Tout n\'est pas forcément noir dans les tréfonds du Web. On y trouve aussi des considérations religieuses... Ou sectaires?? Comme ici avec la Bible proposée dans une version présentée comme non-censurée...'">
</app-paragraph-img-left>


<app-paragraph-img-right [legend]="'Le petit hérisson bleu contre la censure...'"
                         [nomImg]="'sonic.png'"
                         [para]="'On peut y trouver des choses qui ne sont pas mauvaises en soit... Mais censurées par le business du monde d\'aujourd\'hui... Comme ici un jeu Sonic créé par un fan de la licence...'">
</app-paragraph-img-right>



<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-rent-a-hacker'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-surprise'"></app-nav-buttons>
