<app-title-page [title]="'Qui veut acheter des armes?'"></app-title-page>

<app-paragraph-img-left [nomImg]="'UK-Guns-and-Ammo-Store.png'"
                        [para]="'Un des premiers site sur lequel je suis tombé est un portail anglais de vente d\'armes et munitions...'"
                        [legend]="'Un petit P99?'"
></app-paragraph-img-left>


<app-paragraph-img-right [nomImg]="'BMG_Black_Market_Guns.png'"
                         [para]="'Un autre site que j\'ai découvert, beaucoup plus fourni, et beaucoup plus inquiétant également de par la multitude des armes proposées... Armes de guerres, automatiques, semi-automatiques, vous y trouverez tout pour faire un carnage...'"
                         [legend]="'On se croierait sur un Amazon des armes à feu...'"
></app-paragraph-img-right>



<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-drogue'"></app-nav-buttons>
