<app-title-page [title]="'L\'antre de la haine...'"></app-title-page>

<app-paragraph-img-left [legend]="'Le menu de leur site met dans l\'ambiance...'"
                        [nomImg]="'racisme1.png'"
                        [para]="'Ici je vous présente un site français résolument raciste. Ce site existe aussi sur le Web de surface dans une version légèrement censurée... Mais ici, alors qu\'aucune censure n\'existe, nous pouvons voir déferler la haine des humains envers d\'autres...'">
</app-paragraph-img-left>


<app-paragraph-img-right [legend]="'Une actualité mise à jour très régulièrement...'"
                        [nomImg]="'racisme2.png'"
                        [para]="'Ici ce qui fait peur c\'est l\'aspect très pro du site en question, avec une actualité mise très souvent à jour... A leur sauce...'">
</app-paragraph-img-right>

<app-paragraph-img-left [legend]="'Un forum plutôt actif vous tend les bras...'"
                        [nomImg]="'racisme3.png'"
                        [para]="'Le site comprend également un forum, où tout un chacun est libre de s\'exprimer... Mais à mon humble avis, il vaut mieux être dans leur obédience philosophique pour ne pas se faire cyber-lyncher....'">
</app-paragraph-img-left>

<app-paragraph-img-right [legend]="'... et où tout le monde se lâche...'"
                         [nomImg]="'racisme4.png'"
                         [para]="'Le forum... Je pense que l\'image parle assez d\'elle même pour ne pas avoir à en rajouter...'">
</app-paragraph-img-right>

<app-mp3-player [nomFile]="'podcast.mp3'"
                [msbapTitle]="'Podcast diffusé sur leur site.....'"
                [para]="'Il y a de plus un podcast assez animé sur leur site. Avec des propos qui ne font aucun détour... A écouter à vos risques et périls....'">
</app-mp3-player>

<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-vente-fausse-identite'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-pornographiques'"></app-nav-buttons>
