<app-title-page [title]="'L\'antre de la haine...'"></app-title-page>

<app-paragraph-img-left [legend]="'test'"
                        [nomImg]="'racisme1.png'"
                        [para]="'test'">
</app-paragraph-img-left>


<app-paragraph-img-right [legend]="'test'"
                        [nomImg]="'racisme2.png'"
                        [para]="'test'">
</app-paragraph-img-right>

<app-paragraph-img-left [legend]="'test'"
                        [nomImg]="'racisme3.png'"
                        [para]="'test'">
</app-paragraph-img-left>

<app-paragraph-img-right [legend]="'test'"
                         [nomImg]="'racisme4.png'"
                         [para]="'test'">
</app-paragraph-img-right>

<app-nav-buttons [previous]="''" [next]="''"></app-nav-buttons>
