<app-title-page [title]="'Les site pornographiques...'"></app-title-page>

<app-paragraph-img-left [legend]="'Des sites proposant des viols, des célébrités...'"
                        [nomImg]="'list-site-porno.png'"
                        [para]="'Je n\'irai pas très loin dans cette partie. Ayant fait le choix de ne pas exposer d\'images à caractère pornographique sur cet exposé. Mais sur le Dark-Web vous pouvez trouver beaucoup de sites du genre... Par exemple ici une petite liste de ce que l\'on y trouve...'">
</app-paragraph-img-left>


<app-paragraph-img-right [legend]="'Une gross opération des Anonymous en 2011, suivi du FBI...'"
                         [nomImg]="'fbi.png'"
                         [para]="'En 2011, les Anonymous ont lancé une opération contre les sites pédo-pornographiques sur Tor. Le FBI quant à lui a démantelé plusieurs serveurs d\'échanges de fichiers sur Tor en utilisant une faille de Firefox...'">
</app-paragraph-img-right>

<app-sources-links [sources]="sources"></app-sources-links>



<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-racisme'"
                 [next]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-rent-a-hacker'"></app-nav-buttons>
