<app-chapter-title [title]="'Le web de surface'"></app-chapter-title>

<app-paragraph-img-left
  [nomImg]="'moteurs-de-recherche.jpg'"
  [legend]="'Les principaux moteurs de recherche'"
  [para]="'Le Web de surface (appelé aussi Web surfacique, Web visible ou Web indexable), est la partie du World Wide Web qui est accessible en ligne et indexable par les robots des moteurs de recherche. Malgré les milliards de pages indexées de part le monde, ce Web surfacique ne représenterait qu\'une toute petite partie de l\'ensemble (environ 4%).'"
>
</app-paragraph-img-left>

<app-paragraph
  [para]="'Il faut faire attention. De nombreuses sources sur le Web font l\'amalgame entre le Dark Web et le '">

</app-paragraph>

<app-sources-links [sources]="sources"></app-sources-links>

<app-nav-buttons [next]="'/chapitre-1-les-differents-types-de-web/partie-2-le-web-profond'" [previous]="'/chapitre-1-les-differents-types-de-web'"></app-nav-buttons>
