<app-title-page [title]="'Exemples de sites trouvés sur le Dark-Web'"></app-title-page>

<app-img-center [photoName]="'avertissement.png'" [legend]="''"></app-img-center>

<app-paragraph-bold-center [para]="'Et voilà nous y sommes enfin! Nous pouvons naviguer joyeusement dans l\'Univers du Dark-Web! Et ce en toute relative sécurité (car j\'y reviendrais plus tard, notre identité peut toujours être découverte...)'">

</app-paragraph-bold-center>

<app-paragraph-bold-center [para]="'Je vais ici montrer des screens de différents sites que l\'on trouve ici bas. Je vais me répéter mais je rappelle que naviguer dans ces eaux troubles n\'a rien d\'illégal, et que je décline toute responsabilité dans le cas où vous effectueriez des actes illégaux... Les sites que je vais montrer sont ce que j\'ai rééllement trouvé, je ne cautionne pas ces pratiques, je ne montrerai rien de sexuellement explicite, et je me suis plongé dans ce monde uniquement par curiosité.'"
></app-paragraph-bold-center>

<app-img-center [photoName]="'avertissement.png'" [legend]="''"></app-img-center>

<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-2-les-hidden-wikis'" [next]="'/chapitre-3-le-dark-web/partie-3-des-exemples-de-sites-du-dark-web/site-vente-armes'"></app-nav-buttons>
