<app-title-page [title]="'Le BitCoin'"></app-title-page>

<app-img-center [photoName]="'bitcoin.jpg'" [legend]="'Le moyen de paiement obligatoire sur le Dark-Web'"></app-img-center>
<div class="mt-5"></div>
<app-paragraph-img-left [video]="true"
                        [nomVideo]="'VideoBitCoin.mp4'"
                        [para]="'Je paies par carte? Par chèque? En éspèces?? Sur le Dark-Web, comme vous vous en êtes rendu compte, le moyen de paiement unique est le BitCoin. Une cryptomonnaie créee en janvier 2009 par Satoshi Nakamoto (pseudonyme utilisé par celui ou ceux qui ont créé cette cryptomonnaie car en fait, en 2020, sa véritable identité n\'est toujours pas connue)'"
></app-paragraph-img-left>

<app-paragraph-img-right
  [nomImg]="'bitcoin.png'"
  [legend]="'Site d\'achat de BitCoin sur le Dark-Web'"
  [para]="'Je ne m\'étendrai pas trop sur ce sujet vu que Yann a basé son propre exposé dessus... Sachez juste qu\'à l\'heure où j\'écris ces lignes, le cours du BitCoin atteint les 9140.19€... Et qu\'il existe de nombreuses plateformes, dont sur le Dark-Web pour acheter ces fameux BitCoins...'"
></app-paragraph-img-right>

<app-paragraph-img-left [nomImg]="'pleurs-bebe.jpg'"
                        [legend]="'Vous n\'aurez plus que vos yeux pour pleurer en cas d\'arnaque...'"
                        [para]="'Devant la nature même du Dark-Web et du BitCoin, je préfère donner une mise en garde (on ne sait jamais) que si jamais vous payez pour quelque chose sur un de ces sites, qui vous guaranti que vous aurez en retour ce que vous avez commandé? Rien... Et il n\'y a bien sûr pas les gardes-fous que l\'on peut trouver sur le Web de surface dans le cas où vous vous faites arnaquer! C\'est à vos risques et périls!!'"
></app-paragraph-img-left>

<app-nav-buttons [previous]="'/chapitre-3-le-dark-web/partie-3-partie3-des-exemples-de-sites-du-dark-web/site-surprise'"
                 [next]="'/chapitre-3-le-dark-web/partie-5-devenir-dark-web-dev'"
></app-nav-buttons>
