<app-chapter-title [title]="'Les Dark-Nets'"></app-chapter-title>

<app-paragraph-img-left
  [nomImg]="'darknet.jpg'"
  [legend]="''"
  [para]="'Un DarkNet (à ne pas confondre avec le Dark-Web) est un réseau overlay (dit aussi réseau superposé) utilisant des protocoles spécifiques et qui ne sont donc pas accessible via les logiciels communément utilisés. Il en existe des dizaines, plus ou moins étendus et plus ou moins connus. Certains vont se limiter à l\'échange de fichiers, quand d\'autres pourront bâtir un ecosystème complet, intégrant un Web, système de messagerie ect...'"
>
</app-paragraph-img-left>

<app-displaylist
  [title]="'Exemples de Dark-Nets'"
  [list]="list"
>
</app-displaylist>

<app-paragraph-img-right
  [nomImg]="'tor-onion.png'"
  [legend]="'L\'oignon: symbole du réseau Tor'"
  [para]="'Ainsi, comme vous avez dû le comprendre, nous allons ici nous intéresser à un darkweb en particulier: celui du réseau Tor! Mais avant tout, nous devons prendre quelques précautions pour rester anonyme...'"
>

</app-paragraph-img-right>

<app-nav-buttons [previous]="'/chapitre-1-les-differents-types-de-web/partie-2-le-web-profond'"
                 [next]="'/chapitre-2-vers-une-navigation-anonyme'">
</app-nav-buttons>


