<app-chapter-title [title]="'Les Dark-Nets'"></app-chapter-title>

<app-paragraph-img-left
  [nomImg]="'darknet.jpg'"
  [legend]="''"
  [para]="'Un DarkNet (à ne pas confondre avec le Dark-Web) est un réseau overlay (dit aussi réseau superposé) utilisant des protocoles spécifiques et qui ne sont donc pas accessible via les logiciels communément utilisés. Il en existe des dizaines, plus ou moins étendus et plus ou moins connus. Certains vont se limiter à l\'échange de fichiers, quand d\'autres pourront bâtir un ecosystème complet, intégrant un Web, système de messagerie ect...'"
>
</app-paragraph-img-left>

<app-displaylist
  [title]="'Exemples de Dark-Nets'"
  [list]="list"
>
</app-displaylist>

<app-paragraph-img-right
  [nomImg]="'deep-web-iceberg-pourcent.jpg'"
  [legend]="'Proportions approximatives des formes de Web'"
  [para]="'Le Deep Web représente selon les estimations entre 90 et 96% de la totalité du Web. D\'où la métaphore de l\'Iceberg. La partie émergée étant le Web surfacique...'"
>

</app-paragraph-img-right>


