
<h2 class="text-center mt-4 mb-4">Exposé: découverte du Dark-Web</h2>

<img [src]="'../resources/images/darkwebHome.jpg'" alt="DarkWebHome"
     class="mt-3 mb-4 img-fluid mx-auto d-block">

<div class="jumbotron">
  <h4>Bienvenue sur mon exposé présentant le Dark-Web</h4>
  <hr class="my-4">
  <p class="lead">Auteur: Cédric Caudron</p>
  <p>Réalisé dans le cadre de la formation Développeur Web - Web-Mobile du centre <a href="https://www.valarep.fr/" target="_blank">Valarep</a> de Valenciennes. </p>
  <p>Site réalisé avec <a href="https://angular.io/" target="_blank">Angular</a>.</p>
  <p class="lead text-center mt-5">
    <a class="btn btn-danger btn-lg" routerLink="/intro" role="button">Commencer</a>
  </p>
  <p class="lead text-center mt-5">
    <a class="btn btn-primary btn-lg" href="https://github.com/Ced59/DarkWeb-Discovery-Expose" target="_blank" role="button">Dépôt GitHub</a>
  </p>
</div>
